[submodule "hassio-voltronic-axpert"]
	path = hassio-voltronic-axpert
	url = https://github.com/kgksoft/hassio-voltronic-axpert
[submodule "esphome"]
	path = esphome
	url = https://github.com/kgksoft/esphome
